.chat-main
  .chat-main__group-info
    .main-header
      .main-header__header-left
        test
        .header-left-member
          Menber : masa
      .main-header__header-right
        =link_to '#', class: "btn-edit" do
          Edit
  .chat-main__message-list
    .message-box
      .message-box__info
        .message-box__info__name
          masa
        .message-box__info__date
          2019/11/20(Wed) 17:43:01
      .message-box__message
        .message-box__message__content
          おはよう！
    .message-box
      .message-box__info
        .message-box__info__name
          masa
        .message-box__info__date
          2019/11/20(Wed) 17:43:01
      .message-box__message
        .message-box__message__content
          おはよう！
  .chat-main__message-form
    %form.form
      .form__contents
        %input{type: "text", placeholder: "type a message", class: 'text'}
        %label{class: "form__contents__input-image"}
          = icon('far', 'image', class: 'icon')
          %input{type: "file", class: "file"}
      %input{type: "submit", value: "Send", class: 'btn'}
